
#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}



    <section class="ui raised segment">
      <div class="ui four column middle aligned grid basic segment">
        <div class="column 1">
            <i class="huge user icon"></i>
      <header class="ui medium header">
      ${member.firstname} ${member.lastname}
      </header>
        </div>
        <div class ="column 2">
          Weight is ""
          <i class=" huge red balance scale icon"></i>
      </div>
      <div class ="column 3">
       ${BMI}
           <i class=" huge heartbeat icon"></i>
         </div>
        <div class ="column 4">
        ${BMIRange}
            <i class=" huge doctor icon"></i>
        </div>
      </div>
    </section>



<section class="ui raised segment">
<form class="ui  tiny form" action="/dashboard/addAssessment" method="POST">
  <div class="ui tiny form">
    <div class="three fields">
      <div class="field">
        <label>Weight</label>
        <input placeholder="0.00kg" type="number" name=weight>
      </div>
      <div class="field">
        <label>Chest</label>
        <input placeholder="00.00cm" type="number" name=chest>
      </div>
      <div class="field">
        <label>Thigh</label>
        <input placeholder="0.00cm" type="number" name=thigh>
      </div>
    </div>
    <div class="ui tiny form">
      <div class="three fields">
        <div class="field">
          <label>Upper Arm</label>
          <input placeholder="0.00cm" type="number" name=upperArm>
        </div>
        <div class="field">
          <label>Waist</label>
          <input placeholder="0.00cm" type="number" name=waist>

        </div>
        <div class="field">
          <label>Hips</label>
          <input placeholder="0.00cm" type="number" name=hips>
        </div>
      </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>
</section>





<section class="ui raised segment">
  <header class="ui header">
    Assessment History
  </header>

  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comment</th>

    </tr>
    </thead>
    <tbody>
    #{list items:assessments, as:'assessment'}
    <tr>
      <td>
      time&&date
      </td>
      <td>
      ${assessment.weight}
      </td>
      <td>
      ${assessment.chest}
      </td>
      <td>
      ${assessment.thigh}
      </td>
      <td>
      ${assessment.upperArm}
      </td>
      <td>
      ${assessment.waist}
      </td>
      <td>
      ${assessment.hips}
      </td>
      <td>

      </td>
      <td> <a href="/dashboard/${member.id}/deleteAssessment/${assessment.id} " class="ui tiny red button"> Delete </a> </td>
    </tr>
    #{/list}
    </tbody>
  </table>
</section>



*{ <td> <a href="/dashboard/deletetodo/${todo.id} " class="ui tiny red button"> Delete </a> </td>}*